@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Pistilli-Roman;
  src: url("../assets/Pistilli-Roman.otf") format("opentype");
}

#root {
  min-height: 100vh;
}

:root {
  font-family: "Poppins", sans-serif;
  --swiper-navigation-color: gray;
  --swiper-pagination-color: gray;
}

/* total width */
::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: slategray;
  border-radius: 50px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}
